@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}

.container{border: 2px solid #000;
background-color: green;
padding: 10px;
}

.item{border: 2px solid #000;
    background-color: yellow;
    padding: 10px;
    }


 /* grid-auto-flow 
 자동배치 알고니즘
 아이템이 자동 배치되는 흐름을 결정하는 속성입니다.
 */
 .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25%,auto));
    grid-template-rows: repeat(5,minmax(50px,auto));
    grid-auto-flow:dense;
 }
.item:nth-child(2){grid-column:auto/span 3;}
.item:nth-child(5){grid-column:auto/span 3;}
.item:nth-child(7){grid-column:auto/span 2;}
.item:nth-child(12){grid-column:auto/span 2;}
.item:nth-child(13){grid-column:auto/span 3;}