@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}

.container{border: 2px solid #000;
background-color: green;
padding: 10px;
}

.item{border: 2px solid #000;
    background-color: yellow;
    padding: 10px;
    }

/* 
order
배치순서
 
*/
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}
.item:nth-child(1){order:3}
.item:nth-child(2){order:1}
.item:nth-child(3){order:2}