@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}

.container{border: 2px solid #000;
background-color: green;
padding: 10px;
display: grid;
/* grid와 flex는 자식요소가 inline요소일지라도
block요소로 바꾸어버린다. */
grid-template-columns: 100px 300px 200px;
grid-template-columns: 300px 1fr 300px;
/* fr:fraction  --> 비율 */
grid-template-columns: 1fr 2fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-columns: repeat(5, 1fr);/* 1fr를 5번 반복한다 */
grid-template-columns: repeat(3, 1fr 2fr 1fr);
grid-template-columns: 100px 1fr 200px;
grid-template-rows: 200px 200px;
/* 설정한 1,2줄은 높이가 200px로 적용되고 나머지는 auto가 된다 */
grid-template-rows: repeat(4,1fr);
grid-template-rows: repeat(2,1fr);
grid-template-rows: repeat(2,1fr) 300px 300px;
height: 80vh;

}

.item{border: 2px solid #000;
    background-color: yellow;
    padding: 10px;
    }