@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid #000;
    background-color: green;
    padding: 10px;
}

.item {
    border: 2px solid #000;
    background-color: yellow;
    padding: 10px;
}

/* auto-fill, auto-fit */
.container {
    display: grid;
    grid-template-columns: repeat(3,20%);
    grid-template-columns: repeat(3,minmax(20%,auto));
    grid-template-columns: repeat(auto-fill,minmax(20%,auto));
    grid-template-columns: repeat(auto-fit,minmax(20%,auto));
}